.app-bar-container {
    background-color: #fff !important;
    color: #000 !important;
    position: fixed !important;

    z-index: 26 !important;
}
.navigation-link {
    text-decoration: none;

    z-index: 25;
}
.navigation-link {
    text-decoration: none;
    margin: 0 10px !important;
}
.navigation-link:hover {
    color: #6191fd !important;
}
.sign-in-nav {
    display: flex;
    align-items: center;
    margin: 0 10px !important;
}
