.listings-container {
    display: flex;
}
.listing-house-container {
    margin-top: 5% !important;

    margin-top: 6% !important;

    margin-left: auto;
}
.listing-house-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17px;
    justify-content: center;
    align-items: center;
}
