.offers-container {
    background: #f5f7fb;
    margin-top: -22px;
    padding: 5% 10%;
}
.browser-offer {
    font-size: 12px;
    color: #3270fc;
    font-weight: 700;
    margin-bottom: 0;
}
.latest-property-text {
    font-size: 24px !important;
    font-weight: 600 !important;
    color: #144273;
}
.card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 17px;
}
.view-all-properties {
    margin-top: 2rem !important;
    text-transform: capitalize !important;
    padding: 10px 20px !important;
}

@media screen and (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 900px) {
    .offer-cont {
        margin-top: 50px;
    }
}
@media screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .offers-container {
        padding: 0;
    }
    .hot-off {
        text-align: center;
    }
}
